@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    background-color: #1f2937;
    padding: 16px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .hero {
    margin-bottom: 96px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

li a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.hero-left {
    flex: auto;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-desc {
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 400px;
    flex: auto;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #5593f7;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin-top: 56px;
    margin-bottom: 96px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-content {
    display: flex;
    gap: 32px;
}

.info-img {
    width: 160px;
    border-radius: 16px;
}

.info-desc {
    font-size: 16px;
    color: #1f2937ad;
    text-align: center;
}

.quote-section {
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 150px 0;
}

.quote, .quote-src {
    margin: 0 auto;
    width: 790px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-src {
    font-weight: bold;
    text-align: right;
}

.action-section {
    padding: 64px 160px;
}

.action-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 160px;
    border-radius: 8px;
}

.action-text {
    color: #f9faf8;
}

.action-title {
    font-weight: bold;
    font-size: 1.25em;
}

.action-desc {
    opacity: 85%;
}

.action-btn {
    border: 2px solid #f9faf8;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #5593f7;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: #e5e7eb;
}

.footer a {
    color: #e5e7eb;
}